streamlit
torch
opencv-python
Pillow
matplotlib
numpy
pyyaml
tqdm
scipy
pandas
seaborn
# YOLOv5 diretamente do GitHub rodar a linha abaixo no terminal na pasta principal do projeto:
git+https://github.com/ultralytics/yolov5.git
# git clone https://github.com/ultralytics/yolov5.git
thop